table {
	border-bottom: 2px solid black;
	border-collapse: collapse;
}

td {
	padding: 10px;
}

#message {
	font-size: 20px;
}

tr:nth-child(1) {
	border-top: 2px solid black;
}

thead {
	font-weight: bold;
}

button {
	margin: 10px;
}
